body,
h2 {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Space Mono", monospace;
  font-variant-ligatures: none;
}

.app {
  background-color: black;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.logo h1 {
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 420px;
  height: 77px;
}

h2 {
  padding: 0.5em 1em;
  font-size: 28pt;
  margin-bottom: 0.5em;
}

ol {
  margin: 0 1em 0.5em 3em;
}

li {
  color: white;
  font-size: 14pt;
  font-size: 22pt;
}

.player {
  display: flex;
  justify-content: space-between;
}

.name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.points {
  font-weight: 400;
}

.singleplayer,
.multiplayer {
  margin: 1.5em 0;
}

.singleplayer h2 {
  background-color: rgb(215, 40, 100);
}

.singleplayer li:nth-child(-n + 5) {
  color: rgb(215, 40, 100);
  font-weight: 700;
}

.multiplayer h2 {
  background-color: rgb(103, 197, 180);
}

.multiplayer li:nth-child(-n + 3) {
  color: rgb(103, 197, 180);
  font-weight: 700;
}
